<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-init-method="initObject"
>
    <context:annotation-config/>
    <context:component-scan base-package="spring"/>
    <!--<import resource="samsung_context.xml"/>-->
    <!--<import resource="toshiba_context.xml"/>-->

    <!--<bean id="t1000" class ="spring.robot.Terminator" scope="prototype" >-->
    <!--</bean>-->

    <!--<bean id ="baseModel" class="spring.robot.BaseModel" abstract="true">-->
        <!--<constructor-arg ref="toshibaHand" index="0"/>-->
        <!--<constructor-arg ref="toshibaLeg" index="1"/>-->
        <!--<constructor-arg ref="toshibaHead" index="2"/>-->
    <!--</bean>-->

    <!--<bean id="terminator" class="spring.robot.Terminator" lazy-init="true">-->
        <!--<constructor-arg index="0" ref="toshibaHand"/>-->
        <!--<constructor-arg index="1" ref="toshibaLeg"/>-->
        <!--<constructor-arg index="2" ref="toshibaHead"/>-->
    <!--</bean>-->


</beans>