<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="terminator" class="main.spring.robot.Terminator" >
        <constructor-arg index="0" ref="toshibaHand"/>
        <constructor-arg index="1" ref="toshibaLeg"/>
        <constructor-arg index="2" ref="toshibaHead"/>
    </bean>

    <bean id="toshibaHand" class="main.spring.spring.specific.hand.robot.SamsungHand"></bean>
    <bean id="toshibaHead" class="main.spring.spring.specific.head.ToshibaHead"></bean>
    <bean id="toshibaLeg" class="main.spring.spring.specific.leg.robot.SamsungLeg"></bean>
</beans>